<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>TO DO LIST</title>
</head>
<body>
    <h1>Todo App</h1>
    <form method="post" th:action="@{/list}">
        <input type="text" name="todoContent"/>
        <input type="submit" value="ToDo 추가"/>
    </form>
    <hr>
    <table>
        <tr>
            <th>할 일</th>
        </tr>
        <tr th:each="todo:${toDoList}" th:if="${todo.completed} == false">
            <td th:text="${todo.todo}"></td>
            <td>
                <form th:action="@{/list/update/{id} (id=${todo.id})}" method="post" style="display:inline-block;">
                    <input type="submit" value="완료"></form>
                <form th:action="@{/list/delete/{id} (id=${todo.id})}" method="post" style="display:inline-block;">
                    <input type="submit" value="삭제"></form>
                </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <th>완료된 할 일</th>
        </tr>
        <tr th:each="todo:${toDoList}" th:if="${todo.completed} == true">
            <td th:text="${todo.todo}"></td>
            <td>
                <form th:action="@{/list/update/{id} (id=${todo.id})}" method="post" style="display:inline-block;">
                    <input type="submit" value="취소"></form>
                <form th:action="@{/list/delete/{id} (id=${todo.id})}" method="post" style="display:inline-block;">
                    <input type="submit" value="삭제"></form>
            </td>
        </tr>
    </table>
</body>
</html>