<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
    <h1>Todo App</h1>
    <form method="post" action="/addTodo">
        <input type="text" name="todo"/>
        <input type="submit" value="Add Todo"/>
    </form>
    <hr>
    <ul>
        <li th:each="todo:${todoList}">
            <input type="checkbox" name="do" th:text="${todo.todo}" th:checked="false">
        </li>
    </ul>
</html>